---
title: Jamstack Community
description: Find Jamstack meetups, upcoming events, and keep up-to-date with the latest in the Jamstack Community happenings. Check it out!
layout: layouts/base.njk
---

{% import "components/zinger-cta.njk" as zinger %}
{% import "components/cards-meetup.njk" as meetup %}

<section class="my-16 text-center">
  <h1>Join the Anant community</h1>
  <p class="w-4/5 mx-auto ">Anant was born out of the needs of its clients. Frustrated individuals and businesses alike came to us with the same problems over and over again pertaining to their IT needs. We have expertise in data migration, working with legacy systems, ERPs, CRMs, and much more. Let us show you what's possible! Contact us at solutions@anant.us and let's explore your modern enterprise.</p>

  <div class="lg:w-2/3 mx-auto md:grid md:grid-cols-2 md:gap-6 lg:gap-8 my-12">
    {{ zinger.cta(
        "Anant knowledgebase",
        "https://cassandra.link/",
        "bg-gradient-card-sunrise card-shadow hover:card-shadow-sunrise",
        "#logo-slack"
        )
    }}
    {{ zinger.cta(
        "Anant Twitter",
        "https://twitter.com/anantcorp",
        "bg-gradient-card-blue-seafoam card-shadow hover:card-shadow-blue-seafoam",
        "#logo-twitter"
        )
    }}
  </div>
  
</section>


<section>
  <h2>Focus</h2>
  <p class="mb-2">
   The recurring theme we found was that in today's age of information, knowledge is getting harder and harder to find. Whether it is due to the multitude of Software-as-a-Service products a company uses, or the difficulty of integrating legacy systems with newer platforms, our services and products can help.
  </p>
</section>

<section>
  <h2>Clients</h2>
  <p class="mb-2">
   We work on public and private web sites and applications for corporate and non-profit clients. We utilize our robust technology stack to rapidly build both turn-key applications and highly customized solutions. See more of the companies we have worked with below.
  </p>
</section>

{% if meetups.length > 0 %}
<section>
  <h2>Upcoming Events</h2>
  <table>
    <thead class="hidden md:table-header-group">
      <tr>
        <th class="text-left p-4">Group</th>
        <th class="text-left p-4">Name</th>
        <th class="text-left p-4">Venue</th>
        <th class="text-left p-4">Date/Time</th>
      </tr>
    </thead>
    <tbody>
  {% for meetup, data in meetups %}
    {% set item = meetup %}
    {% include "components/meetup-link.njk" %}
  {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

<section class="cards">
  <h2 class="mb-12">The Apache® Cassandra™ Network</h2>
  <filter-container data-oninit>
    <form class="pb-4 filter-form">
      <div class="pb-2">
        <strong class="pr-4">Filter</strong>
        <span data-filter-results="User Group/User Groups" aria-live="polite"></span>
      </div>
      <label class="inline-flex pr-4 pb-2">
        <span class="sr-only">Country</span>
        <select data-filter-bind="country" class="text-black py-1 px-2 rounded-default border border-white bg-white">
          <option selected value="">All Countries</option>
          {%- for country in community | select("country") | flatten | unique | sort(false, false) %}
          <option value="{{ country | lower }}">{{ country }}</option>
          {%- endfor %}
        </select>
      </label>
    </form>
    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-8">
      {% set themes = [
        "bg-gradient-card-sunrise hover:card-shadow-sunrise",
        "bg-gradient-card-blue hover:card-shadow-blue-seafoam",
        "bg-gradient-card-seafoam hover:card-shadow-seafoam",
        "bg-gradient-card-gold hover:card-shadow-gold"]
      %}
      {%- for item in community | sort(false, false, 'name') %}

      {# chose a pseudorandom theme based on the city name #}
      {% set theme =  item.name.length % 4 %}
      <li
      {%- if item.country %} data-filter-country="{{ item.country | lower }}"{% endif %}>
        {{ meetup.card( item.name, item.link, themes[theme] ) }}
      </li>
      {%- endfor %}
    </ul>
  </filter-container>
</section>



