---
title: Static Service Catalog 
description: Check out Service Catalog.
layout: layouts/base.njk
---
{% import "components/cards.njk" as cards %}

<section class="md:mt-20">
  <h1 class="text-center">Service Catalog</h1>
  <p class="text-center">
    A List of Static Service Catalog for Jamstack Sites
  </p>
</section>

<section class="cards mt-12">
  <sort-container>
    <filter-container data-oninit>
      <form class="pb-4 filter-form">
        <div class="flex flex-wrap">
          <div>
            <div class="pb-2">
              <strong class="pr-4">Filter</strong>
              <span data-filter-results="Generator/Generators" aria-live="polite"></span>
            </div>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">Something</span>
              <select data-filter-bind="section" data-filter-delimiter="," class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="">All sections</option>
                {%- for section in collections.generators | select("data.section") | flatten | unique | sort(false, false) %}
                <option value="{{ section | lower }}">{{ section }}</option>
                {%- endfor %}
              </select>
            </label>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">resources</span>
              <select data-filter-bind="resources" data-filter-delimiter="," class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="">All resources</option>
                {%- for resources in collections.generators | select("data.resources") | flatten | unique | sort(false, false) %}
                <option value="{{ resources | lower }}">{{ resources }}</option>
                {%- endfor %}
              </select>
            </label>
          </div>
          <div>
            <div class="pb-2">
              <strong class="pr-4">Sort</strong>
            </div>
            <label class="inline-flex pr-4 pb-2">
              <span class="sr-only">Sort by</span>
              <select data-sort class="text-black py-1 px-2 rounded-default border border-white bg-white">
                <option selected value="githubstars-numeric-descending">Section</option>
                <option value="name">Name</option>
              </select>
            </label>
          </div>
        </div>
      </form>
      <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3" data-sort-children>
      {% for item in collections.generators | sortTools(github) %}
        {{ cards.repo(item, loop.index0, github) }}
      {% endfor %}
      </div>
    </filter-container>
  </sort-container>
</section>

<section class="mt-12">
  
</section>

